* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav h1 {
  text-align: center;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.leftCell {
  display: none;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
.leftCell p {
  padding: 50px;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: black;
}
.leftCell button {
  align-self: center;
}
#pocketbtn {
  display: none;
}
.middleCell {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleCell img {
  width: 100%;
}

.rightCell {
  display: none;
  justify-content: center;
  align-items: center;
}
.rightCell button {
  width: 10rem;
  height: 5rem;
}

.startbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#startButton {
  /* justify-self: center; */
  display: block;
  align-self: center;
  text-align: center;
  margin-top: 20px;
  width: 6rem;
  height: 3rem;
}
form {
  display: flex;
  margin: 10px;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}

#keys {
  display: none;
  width: 20%;
  align-self: center;
}
